/* nav releted style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav > ul{
    display: flex;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
}
/* header releted style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.button{
    color:red ;
}


