/* nav releted style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav > ul{
    display: flex;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: black;
}
/* header releted style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner{
    padding: 50px 50px 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    color:rgb(221, 174, 174) ;
    background-color:red;
}
/* main section style */
.section-title {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.section-description{

color: black;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.image {

    width: 310px;
    height: 350px;
    display: flex;
    margin: 150px 150px 150px 150px;
        
}

.choto-image {

    width: 1440px;
    height: 320px;
   display: flex;
   margin: 150px 150px 150px 150px ;

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.10);
}

.instragram {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.forpic {
display: ;

}